{% extends 'base.html' %}

{% block container %}

<main class="container mt-3">
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">
                <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
                <div class="col-7">

                    <section class="teacher=info">

                        <h1 class="h2">{{ teacher.name }}</h1>
                        <p>{% for goal in teacher.goals %}<span class="badge badge-secondary mr-2">{{ goal }} </span>{%
                            endfor %}Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
                        <p>{{ teacher.about }}</p>

                    </section>

                    <section class="available">

                        <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

                        {% for day, ru_day in days_of_week.items() %}
                        <h5 class="mt-4">{{ ru_day }}</h5>
                        {% if teacher.free[day].values()|any_filter %}
                        {% for time in teacher.free[day] %}
                        {% if teacher.free[day][time] %}
                        <a href="/booking/{{ teacher.id }}/{{ day }}/{{ time.split(':')[0] }}/"
                           class="btn btn-outline-success mr-2">{{ time }} свободно</a>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <p>Нет свободных уроков</p>
                        {% endif %}
                        {% endfor %}
                    </section>

                </div>
            </article>
        </div>

    </div>
</main>

{% endblock %}
